<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/about"><font size="6">About</font></a></li>
<li><a href="/projects"><font size="6>Projects</font></a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:jcho7022@gmail.com">jcho7022 at google mail</a></li>
   <li><a href="https://github.com/jcho7022">github.com/jcho7022</a></li>
   </ul>
  </footer>
  </body>

</html>
