<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">About</a></li>
<li><a href="/projects">Projects</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:jcho7022@gmail.com">jcho7022@gmail.com</a></li>
   <li><a href="https://github.com/jcho7022">github.com/jcho7022</a></li>
   <li><a href="http://linkedin.com/in/james-cho-a8061513a">LinkedIn</a></li>
   </ul>
  </footer>
  </body>

</html>
